<a href="https://colab.research.google.com/github/gupta583/AIIN/blob/master/A1_3_6_Inputs_Outputs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align=center><font size=5>Inputs and Outputs in Python</font></h1>

## Table of contents

- [Inputs and Outputs (I/O)](#io)
    - [Single input](#si)
    - [Multiple inputs](#mi)
- [File I/O](#fio)

### Inputs and Outputs (I/O) <a id = 'io'></a>

#### Single input <a id = 'si'></a>

In [ ]:
x = input()

print('Your input is:', x)

In [ ]:
val = input("Enter your value:") 
print(val)

#### Multiple inputs <a id = 'mi'></a>

In [ ]:
# Taking multiple inputs from user

val1, val2 = input("Enter two values:").split()

print('Your 1st value:', val1) 
print('Your 2nd value:', val2)

In [ ]:
#val = list(map(int, input("Enter a multiple value: ").split())) 

val = list(input("Enter a multiple value:").split())

print("List of values: ", val)

Given the meal price (base cost of a meal) in float format, tip percent (the percentage of the meal price being added as tip) in integer format, and tax percent (the percentage of the meal price being added as tax) in integer format for a meal, find and print the meal's total cost to the nearest dollar (integer).

### File I/O <a id = 'fio'></a>

In [ ]:
fname = 'myfile.txt'
file = open(fname, 'w')
L = ['1 \t a\n', '2 \t b\n', '3 \t c\n'] 
file.writelines(L)  
file.close()

In [ ]:
fname = 'myfile.txt'
file = open(fname, 'r')
data = file.read()
file.close()

print(data)

1 	 a
2 	 b
3 	 c

In [ ]:
with open(fname, 'r') as file:
    data = file.read()
print(data)

1 	 a
2 	 b
3 	 c

In [ ]:
import pandas as pd

df = pd.read_csv(fname, delimiter= '\t', header=None, names=['col1','col2'])
df

   col1 col2
0     1    a
1     2    b
2     3    c